<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>TodoListAlmati</title>
	<style type="text/css" id="dynamicRules">
		/*dynamic rule in javascript for sort task*/
	</style>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">
	<link rel="icon" type="image/png" href="/images/icon-checkBox.png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One" rel="stylesheet">
</head>
<body>
	<header>
		<a href="#" id="title">
			<h1>&nbsp;Almati&nbsp;</h1>
		</a>
		<a href="<% if(!image) {%>#userLogIn<%} else {%>#userParams<%}%>" id="userLink">
			<img src="<% if(image) {%><%="UserImages/"+image%><%} else {%>/images/user.png<%}%>" alt="userImage" width="50" height="50" style="border-radius: 100%;">
		</a>
		
		<% if(!image) {%>
		<!-- user connexion if he isn't connected-->
		<nav id="userLogIn" onclick="closeWindow(this,true)" class="userBox">
			<div onclick="closeWindow('',false)">
				<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
				<form action="#" method="post" accept-charset="utf-8" id="logingForm" >
					
					<label for="user">Pseudo</label>
					<div class="tooltip">
						<input type="text" name="pseudo" value="" placeholder="Pseudo" id = "userConnect">
						<div class="bottom" id="pseudoTooltip">
							<p>Le pseudo n'existe pas vous pouvez créer un compte <a href="#userAdd">ici</a></p>
							<i></i>
						</div>
					</div>
					<label for="password">Mot de passe</label>
					<div class="tooltip">
						<input type="password" name="password" value="" placeholder="Password" id="passwordConnect">
						<div class="bottom" id="pseudoTooltip">
								<p>Le mot de passe est invalide</a></p>
								<i></i>
						</div>
					</div>
					<input type="submit" name="submit" value="Valider">
				</form>
				<a href="#userAdd"><p>Nouvel utilisateur</p></a>
			</div>
		</nav>
		
		<!-- add user -->
		<nav id="userAdd" onclick="closeWindow(this,true)" class="userBox warningOnClose">
			<div onclick="closeWindow('',false)">
				<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
				<form action="/newUser" method="post" accept-charset="utf-8" onsubmit="return verifyPasswordPseudo(this)" encType="multipart/form-data">
					<label for="user">Pseudo</label>
					<div class="tooltip">
						<input type="text" name="pseudo" value="" placeholder="Pseudo" id = "pseudoInput">
						<div class="bottom" id="pseudoTooltip">
							<p>Le pseudo ne doit pas faire moins de <strong>2</strong> caractères ou plus de <strong>15</strong> caratères</p>
							<i></i>
						</div>
					</div>
					<label for="password">Mot de passe</label>
					<div class="tooltip">
						<input type="password" name="password" value="" placeholder="Password" id = "passwordInput"> 
						<div class="bottom" id="passwordTooltip">
							<p>Le mot de passe doit faire plus de 8 caratèreset conternir des majuscules, des minuscules et des nombres,</p>
							<i></i>
						</div>
					</div>
					<label for="password">Confirmation du mot de passe</label>
					<div class="tooltip">
						<input type="password" name="passwordConfirm" value="" placeholder="Password" id = "passwordVerifInput">
						<div class="bottom" id="passwordConfirmTooltip">
							<p>Les mots de passes ne correspondent pas</p>
							<i></i>
						</div>
					</div>
					<input type="file" accept=".png,.jpg,.gif" onchange="loadFile(event,this.id)" id="avatarSelect" name="avatarSelect">
					<label for="avatarSelect" class="labelDisplay">
						<img id="displayavatarSelect" src="/images/user.png" class="userImage">
						<div class="displayAvatarHoverText">
							<p>Selection<br/>d'Avatar</p>
						</div>
					</label>
					<input type="submit" name="submit" value="Valider">
				</form>
			</div>
		</nav>
		<%} else {%> <!-- if user is connected -->
			<nav id="userParams" onclick="closeWindow(this,true)" class="userBox">
				<div onclick="closeWindow('',false)" id="paramContener">
					<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
					<form action="/changeImage" method="post" accept-charset="utf-8" encType="multipart/form-data">
						<h1 style="color:white;">Changer l'avatar:</h1>
						<input type="file" accept=".png,.jpg,.gif" onchange="loadFile(event,this.id)" id="avatarSelectChange" name="avatarSelectChange">
						<label for="avatarSelectChange" class="labelDisplay">
							<img id="displayavatarSelectChange" src="/UserImages/<%=image%>" class="userImage">
							<div class="displayAvatarHoverText">
								<p>Selection<br/>d'Avatar</p>
							</div>
						</label>
						<input type="submit" name="submit" value="Valider">
					</form>
					<form action="/logout" method="post" accept-charset="utf-8">
						<button id="logout"><img src="/images/disconnect.png" width="30" height="30"><p>Se déconecter</p></button>
					</form>
				</div>
			</nav>
		<%}%>
	</header>

	<section>
		<!-- input for filter task -->
		<nav id="taskSelection">
			<label for="userSelect">Utilisateur: </label>
			<select name="userSelect" id="userSelect">
				<option value="any">Tout le monde</option>
				<% pseudos.forEach((element)=>{ %>
					<option value="<%=element.pseudo%>"><%=element.pseudo%></option>
				<% }) %>
			</select>
			<label for="taskTypeSelect">Type de tache:</label>
			<select name="taskTypeSelect" id="taskTypeSelect">
				<option value="any">Toutes</option>
				<option value="server">Serveur</option>
				<option value="style">Style</option>
				<option value="html">Html</option>
				<option value="javascript">Javascript</option>
			</select>
			<label for="status">Status: </label>
			<select name="status" id="statusSelect">
				<option value="any">Tout</option>
				<option value="0">A faire</option>
				<option value="1">En cour</option>
				<option value="2">Fait</option>
			</select>
			<% if (image) {%>
			<a style="margin-left: 5px;" href="#createTask" id="newTask">Nouvelle tache</a>
			<%}%>
		</nav>
		<% if (image) {%>
		<nav id="createTask" onclick="closeWindow(this,true)" class="userBox">
			<div onclick="closeWindow('',false)">
				<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
				<form action="#" method="post" accept-charset="utf-8" onsubmit="return formAnalysis(this)">
					<label for="title">Titre de la tache: </label>
					<input type="text" name="title" placeholder="Titre">
					<label for="title">Description de la tache: </label>
					<textarea name="description" placeholder="Description, vous pouvez utiliser du markdown" id="taskTextArea"></textarea>
					<label for="taskTypeSelect">Type de tache:</label>
					<select name="taskTypeSelect">
						<option value="server">Serveur</option>
						<option value="style">Style</option>
						<option value="html">Html</option>
						<option value="javascript">Javascript</option>
					</select>
					<input type="submit" name="submit">
				</form>
			</div>
		</nav>
		<% } %>
	</section>
	<section id="taskContener">
		<table>
			<thead>
				<tr>
					<th>Utilisateur</th>
					<th>Titre</th>
					<th>Type de tache</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="tbodyTaskContener">
				<% for (var i = 0; i < task.length; i++) {%>
					<tr id="<%=task[i]._id%>" class="tasks user<%=task[i].user.pseudo%> type<%=task[i].type%> state<%=task[i].state%>">
						<td class="tdUser">
							<div class="tdUserDiv">
								<img src="../UserImages/<%=task[i].user.image%>" class="userImage">
								<%=task[i].user.pseudo%>
							</div>
						</td>
						<td class="tdTitle"><h2><%=task[i].title%></h2></td>
						<td class="tdType"><h2><%=task[i].type%></h2></td>
						<td class="taskState<%=task[i].state%> tdState">
							<% if (image && task[i].state != 2) {%>
								<button class="taskStateButton" onclick="changeState('<%=task[i].id%>')">
							<%} else {%>
								<div>
							<%}%>
								<h2>
								<% switch (task[i].state){
									case 0:%>
										A faire
									<%break
									case 1:%>
										En cour
									<%break
									case 2:%>
										Fait
									<%break
								}%>
								</h2>
							<% if (image && task[i].state != 2) {%>
								</button>
							<%} else {%>
								</div>
							<%}%>
						</td>
					</tr>
					<tr>
						<td colspan="4" class="tdDescription">
							<div>
								<%-task[i].text%>
							</div>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</section>

	<!--Inclusion des scripts-->
	<script src="/js/prism.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var isConnected = new Boolean("<%=image%>")
		var userId = "<%= (userId) ? userId : 'notConnected' %>"

		Prism.highlightAll()
	</script>
	<% if(image) {%>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/js/socket.js"></script>
	<%}%>
	<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>